$azul-destaque: #0068DF;
$azul-destaque-hover: #0052AE;
$azul-botao-transparencia: #B6D3F3;
$azul-escuro-texto: #1F2942;
$azul_formulario: #D2E8FF;
$cinza_solicitacao: #878787;

$cinza_texto_formulario: #7E8B99;

$branco-destaque: #FFFFFF;
$branco-fundo: #F3F7FB;

$preto-texto: #000000;

$transparente-hover: #EFEFEF;

$vermelho_botao: #F93944;
$verde_botao: #36ff6e;