@import 'styles/variaveis';

.page {
  display: flex;

}

.children-container-with-menu-open{
  padding: 65px 106px 65px 106px;
  margin-left: 285px;
  max-width: 980px;
  width: 100%;
}

.children-container-with-menu-closed {
  padding: 65px 106px 65px 106px;
  margin-left: 125px;
  max-width: 980px;
  width: 100%;
}

@media screen and (max-width: 1265px) {

  .children-container-with-menu-open {
    padding: 65px 8%;
    border: solid 1px black;
  }
  .children-container-with-menu-closed {
    padding: 65px 8%;
    border: solid 1px black;
  }
}

@media screen and (max-width: 1100px) {
  .children-container-with-menu-open {
    padding: 65px 5%;
  }
  .children-container-with-menu-closed {
    padding: 65px 5%;
  }
}

@media screen and (max-width: 800px) {
  .children-container-with-menu-open {
    margin-left: 125px;
  }
  .children-container-with-menu-closed {
  }
}



@media screen and (max-width: 720px) {
  .children-container-with-menu-open  {
    padding: 28px 5%;
  }

  .children-container-with-menu-closed {
    padding: 28px 5%;
  }
}