@import 'styles/variaveis';

.page {
  display: flex;

}

.children-container-with-menu-open{
  padding: 65px 0 0 106px;
  margin-left: 285px;
}

.children-container-with-menu-closed {
  padding: 65px 0 0 106px;
  margin-left: 125px;
}
