@import 'styles/variaveis';

.ButtonContent
{
    display: flex;
    gap:10px;

    &__ButtonOption {
        border-radius: 3px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border:none;
        color:white;
    }
}

.Request {
    width: 768px;
    

     &__content{
    padding: 37px 36px;
    margin-top: 36px;
    width: 768px;
    min-height: 100px;
    height: auto;
    border-radius:10px;
    background-color: white;
   
    
    &__user {
      display:flex;
      

      &__img {
        width: 46px;
        height: 46px;
        cursor: pointer;
      }
    
      &__userInfo { 
        margin-left:13px;
        width:4000px;
        
        
        &__name{ 
          font-weight: bold;
          margin: 0 0 8px;
          font-size: 14px;
          font-weight:500;
          color: $preto-texto;
          width: fit-content;
          align-items:center;
          line-height:21px;
          display:flex;
          text-decoration: none;
          text-transform: capitalize;
          cursor: pointer;
        }
        &__RequestEmail{
          margin-top:1px;
          font-size: 10px;
          color: $cinza_solicitacao;
          width: fit-content;
          text-transform:lowercase;
        }
      
      }
  }
  }
}
