@import 'styles/variaveis';

.Home{
  width: 768px;

  &__newPost {
    margin-top: 80px;
    width: 100%;
  }
  &__sections {
    display: flex;

    margin-top: 46px;

    &__item {
      margin-right: 26px;
      padding: 0 10px 7px 10px;
      cursor: pointer;

      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: #464646;
      }

      &__selected {
        margin-right: 26px;
        padding: 0 10px 7px 10px;
        border-bottom: solid 3px $azul-destaque;

        h3 {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}