@import 'styles/variaveis';

.Home{
  width: 768px;

  &__newPost {
    margin-top: 80px;
    width: 100%;
  }
  &__sections {
    display: flex;

    margin-top: 46px;

    &__item {
      margin-right: 26px;
      padding: 0 10px 7px 10px;
      cursor: pointer;

      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: #464646;
      }

      &__selected {
        margin-right: 26px;
        padding: 0 10px 7px 10px;
        border-bottom: solid 3px $azul-destaque;

        h3 {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
  // 
  
  // &__post{
  //   padding:37px 36px;
  //   margin-top: 36px;
  //   width: 768px;
  //   height: 261px;
  //   border-radius:10px;
  //   background-color: white;
  //   border: 1px solid #C7D7EC;
  //   &__user {
  //     display:flex;
  //      &__img{
  //       width: 46px;
  //       height: 46px;
  //       }
      
  //     &__userInfo{
  //       margin-left:13px;
  //       &__name{ 
  //         margin: 0 0 8px;
  //         font-size: 14px;
  //         font-weight:500;
  //         color: $preto-texto;
  //         width: fit-content;
  //         align-items:center;
  //         line-height:21px;
  //         display:flex;
  //         text-decoration: none;
          
  //       }
  //       &__PostDate{
  //         margin-top:1px;
  //         font-size: 10px;
  //         color: $azul-destaque;
  //         width: fit-content;
  
  //       }
  //     }
      
      
  // }
  //   &__content{
  //     font-size: 14px;
  //     line-height: 14px;
  //     font-family: "Poppins";
  //   }
  // }
}