@import 'styles/variaveis';


.connect {
    margin-top: 22px;
    margin-bottom: 26px;
    display: flex;
    background-color: #B6D3F3;
    border-radius: 8px;
    width: 125px;
    height: 33px;
    align-items: center;
    justify-content: center;
    border: none;
    &__text{
      font-size: 10px;
      color: $azul-destaque;
      text-decoration: none;
      margin-left: 5px;
      // width: fit-content;
    }
    &__icon{
      // background-color: black;
      color: $azul-destaque;
    }
      
    &:hover{
      cursor: pointer;
      margin-top: 20px;
      width: 127px;
      height: 35px;
    }


  }