@import 'styles/variaveis';

  .noConnection {

    margin-top: 22px;
    margin-bottom: 26px;
    display: flex;
    background-color: #B6D3F3;
    border-radius: 8px;
    width: 125px;
    height: 33px;
    align-items: center;
    justify-content: center;
    border: none;

    &__text{
      font-size: 10px;
      color: $azul-destaque;
      text-decoration: none;
      margin-left: 5px;
      // width: fit-content;
    }
    &__icon{
      color: $azul-destaque;
    }
      
    &:hover{
      cursor: pointer;
      margin-top: 20px;
      width: 127px;
      height: 35px;
    }

  }

  .requestSent {

    margin-top: 22px;
    margin-bottom: 26px;
    display: flex;
    background-color: #F8F27C;
    border-radius: 8px;
    width: 125px;
    height: 33px;
    align-items: center;
    justify-content: center;
    border: none;

    &__text{
      font-size: 10px;
      color: #3c3c3c;
      text-decoration: none;
      margin-left: 5px;
      // width: fit-content;
    }
    &__icon{
      color: #3c3c3c;
    }
      
    &:hover{
      cursor: pointer;
      margin-top: 20px;
      width: 127px;
      height: 35px;
    }

  }

  .friends {
    margin-top: 22px;
    margin-bottom: 26px;
    display: flex;
    background-color: $vermelho_botao_fundo;
    border-radius: 8px;
    width: 125px;
    height: 33px;
    align-items: center;
    justify-content: center;
    border: none;

    &__text{
      font-size: 10px;
      color: $vermelho_botao;
      text-decoration: none;
      margin-left: 5px;
      // width: fit-content;
    }
    &__icon{
      color: $vermelho_botao;
    }
      
    &:hover{
      cursor: pointer;
      margin-top: 20px;
      width: 127px;
      height: 35px;
    }

  }