@import 'styles/variaveis';

.container {
    display: block;
    width: 100%;
    margin-bottom: 19px;

    & label {
        display: block;
        height: 16px;
        margin-bottom: 9px;
        
        
    }

    & div {
        display: flex;
        align-items: center;
        border-radius: 9px;
        border: none;
        max-width: 464px;
        max-height: 49px;
        width: 100%;
        height: 100%;
        background-color: $azul_formulario;
        padding: 17px 23px 17px 23px;

        & input {
            display: block;
            width: 100%;
            height: 100%;
            border: none;
            background-color: $azul_formulario;
            
            &::placeholder {
                color: $cinza_texto_formulario;
            }
            &:focus {
                box-shadow: 0 0 0 0;
                outline: 0;
            }
    
        }

        
        & button {
            border: none;
            width: 28px;
            height: 24px;
            background-color: $azul_formulario;
            cursor: pointer;
        }

    }
    
}