@import 'styles/variaveis';

.welcome {
  display: flex;
  &__logo {
    background: $azul-destaque linear-gradient(180deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
    width: 57%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__form {
    background: $branco-fundo;
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.formulario {
  background-color: $branco-fundo;
  width: 364px;
  
  flex-direction: column;

  &__title {
    color: $azul-escuro-texto;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }

  &__texto {
    color: $azul-escuro-texto;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    margin: 10px 0 30px 0;
  }

  &__input {
    width: 363px;
    height: 48px;
    border: 1px solid #AAAAAA;
    border-radius: 8px;
    margin: 6px 0;
    padding: 13px 16px;
  }

  &__register {
    color: $azul-destaque;
    background: $branco-fundo;
    border: none;
    border-radius: 8px;
    width: 171px;
    height: 40px;
    padding: 13px auto;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s;
  }
  &__register:hover {
    background: $transparente-hover;
  }

  &__submit {
    background: $azul-destaque;
    border: none;
    border-radius: 8px;
    color: $branco-fundo;
    width: 171px;
    height: 40px;
    padding: 13px auto;
    margin: 30px 0 0 21px;
    cursor: pointer;
    transition: 0.3s;
  }
  &__submit:hover {
    background: $azul-destaque-hover;
  }
}
