@import 'styles/variaveis';


.welcome {
  display: block;
  

  &__logo {
    background: $azul-destaque linear-gradient(180deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__svg {

      &__nome {
        max-width: 200px;
        width: 40%;
        margin: 10px;
      }

      &__illustration {
        max-width: 160px;
        max-height: 150px;
        width: 40%;
        margin: 10px;
      }

      &__nome_illustration{
        display: none; //visibility:hidden -> apenas some, mas mantém lá'
      }

    }
  }
  &__form {
    background: $branco-fundo;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px 0 5px;
  }
}

.formulario {
  background-color: $branco-fundo;
  max-width: 364px;
  width: 100%;
  margin-top: 24px;
  padding: 0px 5px 0 5px;
  flex-direction: column;

  &__title {
    
    color: $azul-escuro-texto;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    
  }

  &__texto {
    color: $azul-escuro-texto;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    margin: 10px 0 30px 0px;

  }

  &__input {

    &__filho {
      

      max-width: 363px;
      width: 100%;
      height: 48px;
      border: 1px solid #AAAAAA;
      border-radius: 8px;
      margin: 6px 0;
      padding: 13px 16px;
    }
    
  }

  &__botoes {

    display: flex;

    &__register {
      
      color: $azul-destaque;
      background-color: $branco-fundo;

      border: none;
      border-radius: 8px;
      max-width: 171px;
      width: 47%;
      height: 40px;
      padding: 13px auto;
      margin-top: 30px;
      cursor: pointer;
      transition: 0.3s;
    }
    &__register:hover {
      background: $transparente-hover;
    }

    &__submit {
      background: $azul-destaque;
      border: none;
      border-radius: 8px;
      color: $branco-fundo;
      max-width: 171px;
      width: 47%;
      height: 40px;
      padding: 13px auto;
      margin: 30px 0px 0px 18px;
      cursor: pointer;
      transition: 0.3s;
    }
    &__submit:hover {
      background: $azul-destaque-hover;
    }

  }

}


@media screen and (min-width: 720px) {

  .welcome {
    display: flex;

    &__logo {
      width: 57%;
      height: 100vh;
      

      &__svg {

        &__nome {
          display: none;
        }
  
        &__illustration {
          display: none;
        }
  
        &__nome_illustration{
          display:block; 
          width: 40%;
          min-width: 180px;
        }
  
      }

    }
    &__form {
      width: 43%;
      
    }
  }
  
  .formulario {
  
    padding: 0px;
  }
  
 
}
