@import 'styles/variaveis';

.principal{
  display: flex;

  &__top{
    display: flex;
    align-items: center; // NÃO MEXER
    //border: solid 3px;
    //height: min-content;
    margin-top: 20px;
  }

  &__inputBox{
    width: 456px;
    padding-bottom: 10px;
    //border: solid 3px;
  }

  &__searchButton{
    color: #52A3FF;
  }
  
  &__input{
      height: 43px;
      border-radius: 11px;
      padding: 22px;
  }

  &__page{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 100%;
  }

  &__title{ // nosso ☭
    color: black;
    margin-top: 65px;
    //border: solid 3px;
    width: fit-content;
    height: min-content;
  }

  &__sections { //botao da navegação
    display: flex;
    
    height: min-content;
    //border: solid 3px;

    &__item {
      margin-right: 26px;
      padding: 0px 10px 7px 10px;
      cursor: pointer;
  
      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: #464646;
      }
  
      &__selected {
        margin-right: 26px;
        padding: 0px 10px 7px 10px;
        border-bottom: solid 3px $azul-destaque;
  
        h3 {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
        }
      }

      
    }
  }

  &__search{
    //margin-top: 183px; //errado
    margin-top: 167px;
    margin-left: 30px;
    width: 456px;
    height: 43px;
    border-radius: 10px;
    padding: 12px 20px;
    background-color: $azul-botao-transparencia;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__input{
    margin: 13px 0px 12px 22px;
    border-style: none;
    background-color: $azul-botao-transparencia;
    width: 100%;
    resize: vertical;
    border-color: $azul-botao-transparencia;
  }
}

.contactList{
  //margin: 0;   
  
  &__list{
    list-style: none;

  }
  

  &__ContactButton{
    width: 740px;
    height: 111px;
    border-radius: 18px;
    border: solid 1px #C7D7EC;
    background-color: #ffffff;
    margin: 0;
  }
  
}
